.svg__background{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 0;
    &__bg{
        position: relative;
        left: 20px;
        top: 20px;
        width: 85%;
        height: auto;    
    }
    &__quotes{
        margin-top: 15%;
        width: 18%;
        height: 7.5%;
        align-self: center;
    }
    &__curve{
        margin-top: 50%;
    width: 75%;
    }
}